[Unit]
Description=Ai ChatBot on Telegram
After=network.target

[Service]
ExecStart=/home/system/ChatTG/.venv/bin/python /home/system/ChatTG/chat_tg.py --config /home/system/ChatTG/config.json
Restart=always

[Install]
WantedBy=multi-user.target
