{
    "api_token": "<PUT_YOUR_API_TOKEN_HERE>",
    "chat_id": "<PUT_YOUR_CHAT_ID_HERE>",
    "ollama_api_url": "http://localhost:11434",
    "database_directory": "databases/ai_linux_v0.6.3.db",
    "text": {
        "default_model": "qwen2.5-VL-3B:latest",
        "user_set_model": "qwen2.5-VL-3B:latest",
        "model_settings": {
            "temperature": 1,
            "num_thread": 4,
            "num_ctx": 4096,
            "top_k": 50,
            "top_p": 1
        }
    },
    "voice": {
        "default_model": "cosyvoice",
        "user_set_model": "cosyvoice"
    }
}